@model RanmoDataAppMVC.ViewModels.Payments

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Payments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceiptNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidById)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidById)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
