@model IEnumerable<RanmoDB.Employee>

@{
    ViewBag.Title = "Ranmo - Employees";
}





<table width="100%" class="table-condensed">
    <tr>
        <td width="180px">
            <h1>Employee Info</h1>
        </td>
        <td align="right"><a href="@Url.Action("Create","Employees")" class="btn btn-success" ><i style="vertical-align: -7px;" class="material-icons">&#xE147;</i> Create New</a></td>
        <td align="right">


            @using (Html.BeginForm("index", "Employees", FormMethod.Get))
            {
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link  collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                    Number of records and Filtering
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <table class="table table-sm" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>Employee No. Contains</td>
                                        <td>Employee Name Contains</td>
                                        <td>Only Active or Inactive or Any</td>
                                        <td>Records</td>
                                        <td width="180px">Actions</td>

                                    </tr>
                                    <tr>
                                        <td>@Html.TextBox("empNoContains")</td>
                                        <td>@Html.TextBox("empNameContains")</td>
                                        <td>
                                            @Html.DropDownList("activeStatus", new List<SelectListItem>
                                            {
                                            new SelectListItem{ Text="Any", Value = "-1", Selected = true },
                                            new SelectListItem{ Text="Active", Value = "1" },
                                            new SelectListItem{ Text="Not-Active", Value = "0" }
                                            })
                                        </td>
                                        <td>@Html.TextBox("noOfRecs", "10")</td>
                                        <td><button type="submit" value=" Submit">Search Items</button></td>
                                    </tr>

                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            }
        </td>
    </tr>
</table>

<table class="table table-sm table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th width="100px">
                @Html.DisplayNameFor(model => model.EmpNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            @*<th>
                       @Html.DisplayNameFor(model => model.DateAdded)
                </th>*@
            <th width="200px">Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>                @*<td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>*@
                <td>
                    <a href="@Url.Action("Edit","Employees", new { id = item.Id })" class="btn btn-default"><i class="fa fa-pencil "></i> Edit</a>
                    <a onclick="Delete(@item.Id)" class="btn btn-default"><i class="fa fa-trash "></i> Delete</a>


                </td>
            </tr>
        }
    </tbody>

</table>



@section scripts {

    <script>
        function Delete(id) {
            var confirmed = confirm("Are you sure!");
            if (confirmed) {
                window.location.href = '@Url.Action("Delete","Employees")/' + id;
            }
        }
    </script>
}
