@model RanmoDB.ShiftTime

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ShiftTime</h4>
        <hr />
        @Html.HiddenFor(m => m.Id)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FromToTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromToTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FromToTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input name="btnSave" type="submit" value="Create" class="btn btn-default" />*@
                <input class="btn-default" type="button" id="btnSave" value="Save" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts {

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        // 11:11:11
        // need 
        //  data to b stringified
        //  remove antiforgery token in server or address that issue


        $(document).ready(function () {
            //function will be called on button click having id btnsave
            $("#btnSave").click(function () {
                $("#Id").val(0);
                var Id = 0;
                var FromToTime = $("#FromToTime").val();

                var formData = JSON.stringify({ Id, FromToTime });

             //   alert(formData);
                
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "/RanmoDataAppMVC/ShiftTimes/Create", // Controller/View
                        data: formData,
                        contentType: "application/json; charset=utf-8",
                       // dataType: "json",
                        async: false,
                        success: function (data) {
                            alert("User has been added successfully.");

                        },
                        error: function (jqXHR, exception) {
                            alert(exception);
                        }
                    });
                //              alert('aaa eeee');
            });
        });






        /*
        
                $(document).ready(function () {
                    //function will be called on button click having id btnsave
                    $("#btnSave").click(function () {
                        $("#Id").val(0);
                        var Id = $("#Id").val(), FromToTime = $("#FromToTime").val();
                        var formData = JSON.stringify({
                            Id: Id, FromToTime: FromToTime
                        })
                        $.ajax(
                            {
                                type: "POST", //HTTP POST Method
                                url: "/RanmoDataAppMVC/ShiftTimes/Create", // Controller/View
                                data: {
                                    formData
                                },
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                async: false,
                                success: function (data) {
                                    alert("User has been added successfully.");
                                },
                                error: function (jqXHR, exception) {
                                    alert(exception);
                                }
                            });
                        //              alert('aaa eeee');
                    });
                });
        */

    </script>
}

