@model RanmoDataAppMVC.ViewModels.InvoicePayment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoicePayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceiptNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoicePaymentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoicePaymentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemainingPaymentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainingPaymentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemainingInvoiceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainingInvoiceAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentFullyUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentFullyUsed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceFullyPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceFullyPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
