@model IEnumerable<RanmoDataAppMVC.ViewModels.InvoicePayment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptNo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoicePaymentAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemainingPaymentAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemainingInvoiceAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentFullyUsed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceFullyPaid)
        </th>

        <th></th>
    </tr>
    @using (Html.BeginForm())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiptNo)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.CustomerId)
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceAmount)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.InvoicePaymentAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemainingPaymentAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemainingInvoiceAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentFullyUsed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceFullyPaid)
                </td>

                <td>
                    @*<a href="@Url.Action("Edit","InvoicePayments",
        new {
            PaymentId = item.PaymentId,
            InvoiceId = item.InvoiceId,
            ReceiptNo = item.ReceiptNo,
            CustomerId = item.CustomerId,
            CustomerName = item.CustomerName,
            InvoiceNumber = item.InvoiceNumber,
            PaymentAmount = item.PaymentAmount,
            InvoicePaymentAmount = item.InvoicePaymentAmount,
            RemainingPaymentAmount = item.RemainingPaymentAmount,
            RemainingInvoiceAmount = item.RemainingInvoiceAmount,
            PaymentFullyUsed = item.PaymentFullyUsed,
            InvoiceFullyPaid = item.InvoiceFullyPaid
        })" class="btn btn-default"><i class="fa fa-pencil "></i> Edit</a>*@

                    <a href="@Url.Action("Edit", "InvoicePayments",
                             new {
                                 PaymentId = item.PaymentId,
                                 InvoiceId = item.InvoiceId,
                                 ReceiptNo = item.ReceiptNo,
                                 CustomerId = item.CustomerId,
                                 CustomerName = item.CustomerName,
                                 InvoiceNumber = item.InvoiceNumber,
                                 PaymentAmount = item.PaymentAmount,
                                 InvoicePaymentAmount = item.InvoicePaymentAmount,
                                 RemainingPaymentAmount = item.RemainingPaymentAmount,
                                 RemainingInvoiceAmount = item.RemainingInvoiceAmount,
                                 PaymentFullyUsed = item.PaymentFullyUsed,
                                 InvoiceFullyPaid = item.InvoiceFullyPaid
                             })" class="btn btn-default"><i class="fa fa-pencil "></i>Edit</a>


                    @*<input type="submit" value="Save" />*@
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    }
    </table>
