@model IEnumerable<RanmoDataAppMVC.Models.ProductionDownTime>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

    @Html.ActionLink("Create New", "Create", new { productionId = ViewBag.ProductionId })

</p>
<table class="table">
    <tr>
        <th style="display:none">
            @Html.DisplayNameFor(model => model.ProductionId)
        </th>
        <th style="display:none">
            @Html.DisplayNameFor(model => model.DownTimeReasonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DownTimeReasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DownTimeMinutes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td style="display:none">
            @Html.DisplayFor(modelItem => item.ProductionId)
        </td>
        <td style="display:none">
            @Html.DisplayFor(modelItem => item.DownTimeReasonId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DownTimeReasonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DownTimeMinutes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>

<div>
    <a href="@Url.Action("Edit/" + ViewBag.ProductionId,"Production")" class="btn btn-info"><i class="fa"></i><< Back to Prouction Data Edit</a>
</div>
