@model IEnumerable<RanmoDB.Machine>

@{
    ViewBag.Title = "Machines";
}


<table width="100%" class="table-condensed">
    <tr>
        <td width="180px">
            <h1>Machines</h1>
        </td>
        <td align="right"><a href="@Url.Action("Create","Machines")" class="btn btn-success" data-toggle="modal"><i style="vertical-align: -7px;" class="material-icons">&#xE147;</i> Create New</a></td>
    </tr>
</table>

<table class="table table-sm table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MachineName)
            </th>
            <th width="200px">Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineName)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Machines", new { id = item.Id })" class="btn btn-default"><i class="fa fa-pencil "></i> Edit</a>
                    <a onclick="Delete(@item.Id)" class="btn btn-default"><i class="fa fa-trash "></i> Delete</a>


                </td>
            </tr>
        }
    </tbody>

</table>



@section scripts {

    <script>
        function Delete(id) {
            var confirmed = confirm("Are you sure!");
            if (confirmed) {
                window.location.href = '@Url.Action("Delete","Machines")/' + id;
            }
        }
    </script>
}
