@model IEnumerable<RanmoDataAppMVC.Models.Production>

@{
    ViewBag.Title = "Production Data";
}




<div class="accordion" id="accordionExample">
    <div class="card">
            <table class="table table-sm table-bordered table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Start_Date
                        </th>
                        <th>
                            Shift
                        </th>
                        <th>
                            Mc
                        </th>
                        <th>
                            Item
                        </th>
                        <th width="180px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.WorkStartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShiftDN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MachineName)
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.ItemName)*@
                                @Html.DisplayFor(modelItem => item.ItemObj.ItemForAndName)
                            </td>

                            <td>
                                <a href="@Url.Action("Edit","ProductionWithAutoComplete", new { id = item.Id })" class="btn btn-default"><i class="fa fa-pencil "></i> Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

